@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Ubuntu:wght@300&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', Arial;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerSquare {
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 1em 3em hsl(211, 14%, 66%);
}

#qrCode {
    border-radius: 15px;
}

#title {
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
    padding: 0.5em;
}

#text {
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding: 0 1.7em 1.2em 1.7em;
}